footer {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: calc(390px / 1);
	padding: calc(66px / 1) 0px;
	box-sizing: border-box;
	background-color: #e7edfd;
}

footer>div:first-child {
	margin-right: 11.7vw;
}

footer>div:not(:first-child) {
	text-align: right;
	margin-left: calc(38px / 1);
}

.footer__section-title {
	font-family: NanumBarunGothic;
	font-size: calc(18px / 1);
	font-weight: bold;
	color: #131313;
}

.footer__section-desc {
	margin-top: calc(40px / 1);
	font-family: NanumBarunGothic;
	font-size: calc(18px / 1);
	color: #131313;
	line-height: 1.5em;
}

.footer__btns-wrapper {
	margin-top: calc(40px / 1);
}

.footer__btns {
	width: calc(52px / 1);
	height: calc(52px / 1);
	padding: calc(12px / 1);
	margin: 0 calc(1.666vw / 2);
	border-radius: 52px;
	box-shadow: 0 2px 6px 0 rgba(124, 124, 124, 0.46);
	background-color: #fff;
}

.footer__btns:last-child {
	margin-right: 0;
}

.footer__btns>img {
	vertical-align: bottom;
	width: calc(28px / 1);
	height: calc(28px / 1);
}

@media screen and (max-width:1536px) {
  footer {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: calc(390px / 1.25);
    padding: calc(66px / 1.25) 0px;
    box-sizing: border-box;
    background-color: #e7edfd;
  }
  
  footer>div:first-child {
    margin-right: 11.7vw;
  }
  
  footer>div:not(:first-child) {
    text-align: right;
    margin-left: calc(38px / 1.25);
  }
  
  .footer__section-title {
    font-family: NanumBarunGothic;
    font-size: calc(18px / 1.25);
    font-weight: bold;
    color: #131313;
  }
  
  .footer__section-desc {
    margin-top: calc(40px / 1.25);
    font-family: NanumBarunGothic;
    font-size: calc(18px / 1.25);
    color: #131313;
    line-height: 1.5em;
  }
  
  .footer__btns-wrapper {
    margin-top: calc(40px / 1.25);
  }
  
  .footer__btns {
    width: calc(52px / 1.25);
    height: calc(52px / 1.25);
    padding: calc(12px / 1.25);
    margin: 0 calc(1.666vw / 2);
    border-radius: 52px;
    box-shadow: 0 2px 6px 0 rgba(124, 124, 124, 0.46);
    background-color: #fff;
  }
  
  .footer__btns:last-child {
    margin-right: 0;
  }
  
  .footer__btns>img {
    vertical-align: bottom;
    width: calc(28px / 1.25);
    height: calc(28px / 1.25);
  }
}

@media screen and (max-width: 768px) {
  footer {    
    flex-direction: column;        
    height: 740px;
  }
  
  footer>div:first-child {
    text-align: center;
    margin-right: 0;
  }
  
  footer>div:not(:first-child) {
    text-align: center;
    margin-left: 0;
  }
  
  .footer__section-title {    
    font-size: 16px;    
  }
  
  .footer__section-desc {
    margin-top: 18px;
    margin-bottom: 26px;
    font-family: NanumBarunGothic;
    font-size: 16px;
    color: #131313;
    line-height: 1.5em;
  }
  
  .footer__btns-wrapper {    
    margin-top: 54px;
    margin-bottom: 98px;
  }
  
  .footer__btns {
    width: calc(52px / 1.5);
    height: calc(52px / 1.5);
    padding: calc(12px / 1.5);
    margin: 0 calc(1.666vw / 2);
    border-radius: 52px;
    box-shadow: 0 2px 6px 0 rgba(124, 124, 124, 0.46);
    background-color: #fff;
  }
  
  .footer__btns:last-child {
    margin-right: 0;
  }
  
  .footer__btns>img {
    vertical-align: bottom;
    width: calc(28px / 1.5);
    height: calc(28px / 1.5);
  }
}