.home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 390px / 1.5);
}

.home > div {
  display: inline-block;
}

.home__section-wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
}

.home__section{
  position: relative;
  height: 393px;
  display: inline-block;
}

.home__section-title{
  height: calc(114px / 1.5);
  font-family: 'GmarketSans';
  font-size: calc(38px / 1.5);
  font-weight: 500;
  line-height: 1.5em;
  color: #4263f6;
}

.home__section-desc{
  font-family: 'NanumBarunGothic';
  margin-top: calc(73px / 1.5);
  line-height: 1.5em;
}

.home__image{
  display: inline-block;
  overflow: hidden;
  position: relative;
  bottom: 50px;
}

.home__image > img{
  width: calc(692px / 1.5);
  height: calc(692px / 1.5);
}

.home__btns-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  bottom: 75px
}

.home__btns{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #142677;
  border-radius: 25px;
  width: calc(552px / 1.5);
  height: calc(73px / 1.5);
  margin: 0 30px 30px 30px;
}

.home__btns > a{
  width: inherit;
  height: inherit;
  line-height: calc(73px / 1.5);
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.home__btns > a > img{
  position: relative;
  top: 2px;
  width: calc(31px / 1.5);
  height: calc(25px / 1.5);
  margin-left: 16px;
}