@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  font-style: normal;
  font-style: normal;
}

*{
  margin:0;
}

header{
  width: 100vw;
  height: calc(116px/1.5);  
  box-shadow: 0 calc(4px/1.5) calc(8px/1.5) 0 rgba(226, 226, 226, 0.42);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.Routes-Wrapper{
  margin-top: calc(116px/1.5);
}

.app__headerLogo{
  width: calc(167px/1.5);
  height: calc(71px/1.5);    
  margin-left:17.865vw; 
  content: url('../public/HeaderLogo.png');
  object-fit: contain;
  cursor:pointer;  
}

.app__headerBtns{  
  margin-right:17.865vw;
}
.app__headerBtns a.active{
  color:#4263f6;
}
.app__headerBtns a{
  margin-left:40px;
  font-family: 'GmarketSansBold';
  font-size: calc(22px/1.5);
  color:#cddafc;
  text-decoration: none;
}

.app__footerWrapper{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: calc(390px / 1.5);
  padding: calc(66px / 1.5) 0px;
  box-sizing: border-box;
  background-color: #e7edfd;
}

.app__footerWrapper > div:first-child{
  margin-right:17.865vw; 
}

.app__footerWrapper > div:not(:first-child){
  text-align: right;
  margin-left: calc(38px / 1.5);
}

.app__footerSectionTitle{
  font-family: NanumBarunGothic;
  font-size: calc(18px / 1.5);
  font-weight: bold;
  color: #131313;
}
.app__footerSectionDesc{
  margin-top: calc(40px / 1.5);
  font-family: NanumBarunGothic;
  font-size: calc(18px / 1.5);
  color: #131313;
}

.app__footerBtnsWrapper{
  margin-top: calc(40px / 1.5);
}

.app__footerBtns{
  width: calc(52px / 1.5);
  height: calc(52px / 1.5);
  padding: calc(12px / 1.5);
  margin: 0 calc(1.666vw / 2);
  border-radius: calc(52px / 1.5 / 2);
  box-shadow: 0 2px 6px 0 rgba(124, 124, 124, 0.46);
  background-color: #fff;
}

.app__footerBtns:last-child{
  margin-right : 0;
}

.app__footerBtns > img{
  position: relative;
  top: 2px;
  width: calc(28px / 1.5);
  height: calc(28px / 1.5);
}